/* .signup-container{
    padding-left: 37%;
    padding-right: 37%;
}

.signup-form{
    padding-left: 16%;
    padding-right: 16%;
}

.signup-form button{
    margin-left: 16%;
    margin-right: 16%;
} */

.signup-container{
    margin-top: 100px;
    width: 40%;
    margin-left: 30%;
    padding: 2%;
    border: 2px solid whitesmoke;
    display: block;
    box-shadow: 5px 5px 20px;
    border-radius: 15px;
}h1{
    padding-left: 15%;
    padding-right: 15%;
}

.submit-btn{
    margin-left: 41%;
    margin-right: 41%;
}