.shop-container{
    display: grid;
    background-color: #d1d8d8;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10.6%;
    row-gap: 50px;
    margin: 52px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width:500px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* padding-left: 13%; */
    }
    .shop-container{
        display: grid;
        background-color: white;
        width: 100%;
    }
}