.order-sec{
    margin: 1%;
    border: 1px solid gray;
    padding: 1%;
    width: 98%;
    margin-bottom: 50px;
    background-color: #b2b4b485;
    border-radius: 30px 0px;
    box-shadow: 5px 7px 25px;
}

.order-owner{
    display: flex;
    justify-content: space-evenly;
}






.admin-review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width:100%;
    display: flex;
    margin-bottom: 10px;
}
.admin-review-item img{
    width: 91px;
}

.review-item-details p{
    margin: 0;
}

.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}

.admin-review-item .delete-container{
    display: flex;
    align-items: center;
}

.admin-review-item .delete-button{
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon{
    color: rgba(235, 87, 87, 1);
    font-size: 27px;
}



